<h1>Bienvenido a Calculadora</h1>
<form method="post" action="/prueba">
    <h1>Monto Venta: </h1>
    <textarea name="campo_entrada" rows="1" cols="20"></textarea>
    <h1>Efectivo: </h1>
    <textarea name="campo_entrada1" rows="1" cols="20"></textarea>
    <input type="submit" value="cambio">
</form>